/* -------------------- Set Defaults --------*/
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Libre Baskerville', serif;
    color: #333;
}
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
      font-family: 'Libre Baskerville', cursive;
  }
  img {
      max-width: 100%;
      height: auto;
  }
  a {
      color: #904365;
  }
  a:hover {
      color: #b95f89;
      text-decoration: none;
  }
  
/* -------------------- END Defaults --------*/
/* -------------------- HEADER -------------*/
.full-width-header {
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 0 2px 5px 0px;
            box-shadow: rgba(0, 0, 0, .5) 0 2px 5px 0px;
}
.screen-reader-link:focus {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-weight: bold;
    padding: 15px 25px 15px;
    color: #333;
    background: #fff;
    z-index: 100000;
    text-decoration: none;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
            box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
}
/* Top bar */
.topbar {
    color: #000080;
    font-size: .75rem;
    padding: 5px 0;
    background-color: #C4E0F9;
}
.topbar .container {
    display: flex;
}
/* Topbar Weather */
.dublin-weather-outer {
    position: relative;
    text-align: right;
    width: 66.666667%;
}
#current-date {
    text-align: left;
    width: 33.333332%;
}
.more-weather-link,
.less-weather-link {
    cursor: pointer;
    padding: 10px 0;
}
/* More weather drop down */
#more-weather {
    background: aliceblue;
    position: absolute;
    overflow: hidden;
    text-align: left;
    z-index: 999;
    transition: all .5s;
}
#weather-widget,
#see-less-weather {
    padding: 15px;
}
.hidden {
    height: 0;
    opacity: 0;
    transition: all .5s;
}
.shown {
    opacity: 1;
    transition: all .5s;
}
#more-weather.shown {
    height: 160px;
}
/* Navbar */
.navbar {
    padding: .5rem 0rem;
}
/* Logo */
.navbar-brand {
    font-family: 'Kalam', cursive;
    font-size: 1.5rem;
    margin-right: 0;
}
.logo-part1,
.logo-part2 {
    display: inline-block;
}
.logo-part1 {
    transform: rotate(-15deg) translate(.2em, -.7em);
    font-size: .6em;
    margin-right: 10px;
}
.logo-part2 {
    transform: rotate(-15deg) translate(-1em, -.1em);
}

/* Navbar toggle */
.navbar-toggler {
    padding: .25rem .5rem;
}
/* Jumbotron */
.jumbotron {
    background-image: url(../images/ha-penny-bridge-in-dublin-ireland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 6rem 1rem;
    position: relative;
}
.jumbotron::before {
    content: "";
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.jumbotron > .container {
    position: relative;
    z-index: 2;
}
.display-4 {
    font-size: 2.5rem;
}

/* MAP */
#map {
    min-height: 600px;
    width: 100%;
}
/* ----------------------------------  NOTE TAKING ---------------*/
li.note-item {
    background: #88B8FD;
    color:#000080;
    border: 1px solid #000080;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
/* ---------------------------------- MEDIA SIZES --------------------*/
@media screen and (min-width: 768px) {
    .navbar-brand {
        font-size: 3rem;
    }
    .display-4 {
        font-size: 3.5rem;
    }
}