/* -------------------- Set Defaults --------*/
html {
    scroll-behavior: smooth;
    /* make rem easier to use and not prevent scaling font */
    font-size: 62.5%;
  }
body {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    font-size: 1.4rem;
    color: #333;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', cursive;
    color: #97476B;
}
.h1, h1 {
    font-size: 4rem;
    text-transform: uppercase;
}
.h2, h2 {
    font-size: 2.8rem;
}
.h3, h3 {
    font-size: 2.4rem;
}
.h4, h4 {
    font-size: 2rem;
}
p.h4 {
    font-size: 1.4rem;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    color: #904365;
}
a:hover {
    color: #b95f89;
    text-decoration: none;
}
  
/* -------------------- END Defaults --------*/
/* -------------------- Bootstrap Adjustments --------*/
/* BS own padding classes on a container was causing a left/right overflow probably due to resizing the body font size */
.p-3 {
    padding: 1.5rem!important;
}
.tooltip {
    font-size: 1rem;
}
.tip {
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    cursor: help;
}
/* -------------------- HEADER -------------*/
.full-width-header {
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 0 2px 5px 0px;
            box-shadow: rgba(0, 0, 0, .5) 0 2px 5px 0px;
}
.screen-reader-link:focus {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-weight: bold;
    padding: 15px 25px 15px;
    color: #333;
    background: #fff;
    z-index: 100000;
    text-decoration: none;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
            box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
}
/* Top bar */
.topbar {
    color: #000080;
    font-size: 1.2rem;
    padding: 5px 0;
    background-color: #C4E0F9;
}
/* -------------------------------- Topbar Weather ----------- */
.dublin-weather-outer {
    background: #2fc0f9;
    color: #000080;
    font-size: 1.2rem;
    position: relative;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    max-width: 215px;
    margin-right: auto;
    margin-left: 0;
}
#current-date {
    text-align: right;
}
.row.weather-mobile .col-4 {
    padding: 0;
}
.city-name {
    text-align: center;
}
.weather-icon {
    text-align: right;
    padding-right: 5px;
}
.temp-wrap {
    padding-left: 5px;
}
.temp {
    font-size: 2.5rem;
    height: 40px;
}
.weather-icon img {
    width: 40px;
    height: auto;
}
.more-weather-link,
.less-weather-link {
    cursor: pointer;
    display: block;
    text-align: center;
}
/* More weather drop down */
#more-weather {
    background: #2EC0F9;
    border: 1px solid;
    border-radius: 0 0 3px 3px;
    border-top: none;
    display: none;
    position: absolute;
    left: -1px;
    text-align: left;
    z-index: 999;
    right:-1px;
}
div#dublin-forecast-data {
    font-size: 1rem;
}
#dublin-forecast-data .col-1,
#dublin-forecast-data .col-2,
#dublin-forecast-data .col-3,
#dublin-forecast-data .col-4,
#dublin-forecast-data .col-6 {
    padding: 5px;
}
#dublin-forecast-data .forecast-icon {
    padding: 0;
}
.col-2.forecast-icon img {
    margin-top: -5px;
}
#weather-widget,
#see-less-weather {
    padding: 15px;
}
.other-city > h4 {
    color: #000080;
    font-size: 1.6rem;
}
/* Navbar */
.navbar {
    padding: .5rem 0rem;
}
.navbar-light .navbar-toggler {
    border-color: transparent;
}
.navbar-light .navbar-nav .nav-link {
    color: #904365;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #b95f89;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #445E9C;
}
/* Navbar close X icon */
.navbar-dark .navbar-toggler.collapsed .navbar-toggler-icon,
.navbar-light .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url(../images/bs-nav-icon-blue.svg);
}
.navbar-dark .navbar-toggler-icon,
.navbar-light .navbar-toggler-icon {
    background-image: url(../images/bs-nav-icon-blue-open.svg);
}
.navbar-toggler:focus {
    outline: #2fc0f9 auto 5px;
}
.nav-link {
    padding: 1rem 1.6rem;
}
.navbar-collapse {
    border-top: 1px solid #c4e0f9;
    margin-top: 10px;
    text-align: center;
}
/* Logo */
.navbar-brand {
    font-family: 'Kalam', cursive;
    font-size: 2.4rem;
    margin-right: 0;
}
.navbar-light .navbar-brand {
    color: #000080;
}
.logo-part1,
.logo-part2 {
    display: inline-block;
}
.logo-part1 {
    transform: rotate(-15deg) translate(.2em, -.7em);
    font-size: 1.4rem;
    margin-right: 10px;
}
.logo-part2 {
    transform: rotate(-15deg) translate(-1em, -.1em);
}

/* Navbar toggle */
.navbar-toggler {
    padding: .4rem .8rem;
    font-size: 2rem;
}
/* Jumbotron */
.jumbotron {
    background-image: url(../images/ha-penny-bridge-576x300.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 6rem 1rem;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
}
.jumbotron::before {
    content: "";
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.jumbotron > .container {
    position: relative;
    z-index: 2;
}
.jumbotron h1 {
    color: #fff;
    margin-bottom: 20px;
}
/* Text styles */
.display-4 {
    font-size: 2.5rem;
}
.lead {
    font-size: 1.6rem;
}
/* Form Elements */
.form-control {
    height: calc(2.5em + .75rem + 2px);
    padding: .4rem .8rem;
    font-size: 1.4rem;
}
/* Buttons */
.btn {
    padding: .6rem 1rem;
    font-size: 1.4rem;
    margin-top: 15px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
.btn-primary {
    color: #fff;
    background-color: #97476B;
    border-color: #75304D;
}
.btn-secondary {
    color: #000080;
    background-color: #2EC0F9;
    border-color: #2EC0F9;
}
.btn i {
    margin: 0 10px;
}
/* MAP */
#map {
    min-height: 700px;
    width: 100%;
}
#location-map {
    border: 5px solid #2fc0f9;
    min-height: 320px;
    width: 100%;
}
#legend {
    color: #000080;
    background: rgba(136, 184, 253, .9);
    font-size: 1.3rem;
    padding: 10px;
    margin: 10px;
    border: 1px solid #B95F89;
  }
#legend h3 {
    color: #000080;
    text-transform: uppercase;
    font-size: 1.2rem;
}
#legend img {
    vertical-align: middle;
    margin: 0 10px;
    width: 25px;
}
#legend input[type="checkbox"] {
    margin-bottom: 10px;
}
/* Move map full screen button out from edge */
button.gm-control-active.gm-fullscreen-control {
    top: 30px!important;
}
/* map info-window*/
.gm-style-iw.gm-style-iw-c {
    text-align: center;
}
.gm-style-iw.gm-style-iw-c h3 {
    font-size: 1.6rem;
}
.gm-style-iw.gm-style-iw-c img {
    max-width: 100%;
    margin: 5px 0;
}
/* Google places search bar */
#infowindow-content .title {
    font-weight: bold;
}
#pac-input {
    background-color: #C4E0F9;
    border: 2px solid #B95F89;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 5px;
    padding: 5px 21px 5px 23px;
    text-overflow: ellipsis;
    width: 210px;
}
#pac-input:focus {
    border-color: #2fc0f9;
}
/* dropdown container */
#pac-container {
    background-color: #C4E0F9;
    padding-bottom: 12px;
    margin-right: 12px;
    margin-top:20px;
}

/* ----------------------------------  NOTE TAKING ---------------*/
#take-notes,
.take-notes-wrapper {
    position: fixed;
    top: 28vh;
    right: -75vw;
    z-index: 9999;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

/* Open the notes tab */
.open-notes {
    background: #97476b;
    border: 1px solid #74304d;
    border-radius: 4px 0 0 4px;
    box-shadow: -3px 0px 3px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    width: 21%;
    padding: .5rem;
    text-align: center;
    top: 58vh;
    position: relative;
}
.open-notes::before {
    display: block;
    content: " ";
    background: #97476b;
    border: 1px solid #73304d;
    border-right-color: #97476b;
    box-shadow: -7px 0px 3px 0px rgba(0, 0, 0, 0.3);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
}
#take-notes p {
    font-size: 1.4rem;
}
.take-notes-wrapper {
    background: #E9FFFF;
    border: 1px solid #407dbf;
    border-radius: 4px 0 0 4px;
    box-shadow: -3px 0px 3px 1px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-height: 70vh;
    overflow: scroll;
}
/* When take notes section opened */
#take-notes.opened {
    right: 0;
}
#take-notes.opened .take-notes-wrapper {
    right: 0;
}
li.note-item {
    background: #88B8FD;
    color:#000080;
    border: 1px solid #000080;
    padding: 5px 25px 5px 10px;
    position: relative;
    border-radius: 4px;
    margin-bottom: 10px;
}
button.del-btn {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    color: #F92C2C;
    font-weight: 800;
    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 5px;
}
/* gradient horizontal dividers */
.divider-t {
    border-top: 5px solid;
    -o-border-image: -o-linear-gradient(left, transparent 0%, #000080 50%, transparent 100%);
    border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000080), to(transparent));
    border-image: linear-gradient(to right, transparent 0%, #000080 50%, transparent 100%);
    border-image-slice: 1;
    border-width: 1px;
}
.divider-b {
    border-bottom: 5px solid;
    -o-border-image: -o-linear-gradient(left, transparent 0%, #000080 50%, transparent 100%);
    border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000080), to(transparent));
    border-image: linear-gradient(to right, transparent 0%, #000080 50%, transparent 100%);
    border-image-slice: 1;
    border-width: 1px;
}
/* Note required and response */
#note-item-required,
#response {
    border:1px solid;
    padding: .5rem;
    margin: 1rem 0;
}
#note-item-required {
    color: #F92C2C;
    border-color: #F92C2C;
}
#response {
    color: #007F0F;
    border: none;
}
/* ----- Full width sections ----- */
.bg-light-blue {
    background: #c4e1f9;
}
/* ------ BS Cards ------*/
.card {
    background: #ccc;
    border: 5px solid #2EC0F9;
}
.carousel-indicators {
    bottom: -40px;
}
.carousel-control-prev {
    left: -20px;
}
.carousel-control-next {
    right: -20px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 30px;
    width: 30px;
}
.carousel-indicators li {
    background-color: #9E9E9E;
    height: 6px;
    margin-right: 7px;
    margin-left: 7px;
}
/* change carousel arrow colours */
.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(0.5);
}
/* recommendation cards */
/* vertically align title as some are larger than others*/
.card-title-wrapper {
    position: relative;
    min-height: 80px;
}
.card-title {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
/*---------------------------- Location Pages ------*/
.bg-wrapper {
    background-image: url(../images/dublin-liffey-at-night-1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-overlay {
    background: rgba(0, 0, 0, 0.2);
}
.location-page #maincontent {
    background: #fff;
    margin: 50px auto;
}
.location-page h1 {
    text-align: left;
    font-size: 2rem;
}
.location-page h1 img{
    margin-right: 5px;
}
/* ---------------------------- FOOTER ------ */
.footer {
    background-color: #192037;
    color:#fff;
}
.footer a {
    color: #2ec0f9;
}
.img-credits {
    font-size: 1rem;
}
.full-width-copyright {
    background: #00041B;
    color:#fff;
    padding: 10px;
    font-size: 1rem;
}
.social-icons-list {
    list-style: none;
    padding: 0;
}
.social-icons-list li {
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px 0 0;
}
.social-icons-list li a {
    color: #fff;
    background: #B95F89;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.social-icons-list li a:hover {
    background: #2EC0F9;
}
/* ---------------------------------- MEDIA SIZES --------------------*/
/*------ Bootstraps Small size ------*/
@media screen and (min-width: 576px) {
    /* weather */
    .row.weather-mobile .col-4 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .weather-icon img {
        width: 50px;
    }
    .temp {
        font-size: 3rem;
        height: 50px;
    }
    /* Notes pop-out */
    .open-notes {
        font-size: 1.6rem;
        left: -20%;
    }
    #take-notes,
    .take-notes-wrapper {
        width: 60%;
        right: -57vw;
    }

}
/*------ Bootstraps Medium size ------*/
@media screen and (min-width: 768px) {
    .navbar-collapse {
        border-top: none;
        margin-top: 0;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .jumbotron {
        background-image:url(../images//ha-penny-bridge-768x250.jpg);
        padding: 12rem 1rem;
    }
    p.h4 {
        font-size: 2rem;
    }
    .lead {
        font-size: 2rem;
    }
    .jumbotron .lead {
        font-size: 3.4rem;
    }
    .navbar-brand {
        font-size: 3rem;
    }
    .display-4 {
        font-size: 3.5rem;
    }
    /* Notes pop-out */
    #take-notes,
    .take-notes-wrapper {
        width: 40%;
        right: -38vw;
    }
    .open-notes {
        top: 30vh;
    }
    /* Map */
    /* map off canvas buttons */
    .map-off-canvas-buttons {
        margin-bottom: 25px;
    }
    #legend {
        font-size: 1.4rem;
        padding: 2rem;
        margin: 2rem;
    }
    #legend h3 {
        font-size: 1.4rem;
    }
    #legend img {
        width: auto;
    }
      /* Move map full screen button out from edge */
    button.gm-control-active.gm-fullscreen-control {
        right: 40px!important;
        top: 30px!important;
    }
    #pac-input {
        width: 400px;
    }
    .location-page h1 {
        font-size: 3rem;
    }
    .location-page h1 img{
        margin-right: 15px;
    }
}
/*------ Bootstraps Large size ------*/
@media screen and (min-width: 992px) {
    .jumbotron {
        background-image:url(../images/ha-penny-bridge-1000x400.jpg);
        padding: 15rem 1rem;
    }
    /* Notes pop-out */
    #take-notes,
    .take-notes-wrapper {
        width: 30%;
        right: -28vw;
    }
    /* recommendation cards */
    /* vertically align title as some are larger than others*/
    .card-title-wrapper {
        min-height: 110px;
    }
    #location-map {
        min-height: 550px;
    }
    .location-page h1 {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #ccc;
    }
    #legend input[type="checkbox"] {
        margin-bottom: 0;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        height: 20px;
        width: 20px;
    }
}
/*------ Bootstraps XLarge size ------*/
@media screen and (min-width: 1200px) {
    .jumbotron {
        background-image:url(../images/ha-penny-bridge-1920x600.jpg);
        padding: 17rem 1rem;
    }
    .h1, h1 {
        font-size: 5rem;
    }
    /* recommendation cards */
    /* vertically align title as some are larger than others*/
    .card-title-wrapper {
        min-height: 80px;
    }
    #location-map {
        min-height: 650px;
    }
}