/* -------------------- Set Defaults --------*/
html {
    scroll-behavior: smooth;
    /* make rem easier to use and not prevent scaling font */
    font-size: 62.5%;
  }
body {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    font-size: 1.4rem;
    color: #333;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', cursive;
}
.h1, h1 {
    font-size: 4rem;
}
.h2, h2 {
    font-size: 2.8rem;
    color: #97476B;
}
.h3, h3 {
    font-size: 2rem;
    color: #97476B;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    color: #904365;
}
a:hover {
    color: #b95f89;
    text-decoration: none;
}
  
/* -------------------- END Defaults --------*/
/* -------------------- HEADER -------------*/
.full-width-header {
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 0 2px 5px 0px;
            box-shadow: rgba(0, 0, 0, .5) 0 2px 5px 0px;
}
.screen-reader-link:focus {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-weight: bold;
    padding: 15px 25px 15px;
    color: #333;
    background: #fff;
    z-index: 100000;
    text-decoration: none;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
            box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
}
/* Top bar */
.topbar {
    color: #000080;
    font-size: 1.1rem;
    padding: 5px 0;
    background-color: #C4E0F9;
}
/* .topbar .container {
    display: flex;
} */
/* -------------------------------- Topbar Weather ----------- */
.dublin-weather-outer {
    background: #2fc0f9;
    position: relative;
    border: 1px solid;
    padding: 5px;
    max-width: 215px;
    margin-right: 0;
    margin-left: auto;
}
#current-date {
    text-align: left;
}
.city-name {
    text-align: center;
}
.weather-icon {
    text-align: right;
    padding-right: 5px;
}
.temp-wrap {
    padding-left: 5px;
}
.temp {
    font-size: 2rem;
    height: 50px;
}
.weather-icon img {
    width: 50px;
    height: auto;
}
.more-weather-link,
.less-weather-link {
    cursor: pointer;
    display: block;
    padding: 10px 0 0;
    text-align: center;
}
/* More weather drop down */
#more-weather {
    background: #2EC0F9;
    border: 1px solid;
    border-top: none;
    display: none;
    position: absolute;
    left: -1px;
    text-align: left;
    z-index: 999;
    right:0;
}
div#dublin-forecast-data {
    font-size: .6rem;
}
#dublin-forecast-data .col-1,
#dublin-forecast-data .col-2,
#dublin-forecast-data .col-3,
#dublin-forecast-data .col-4,
#dublin-forecast-data .col-6 {
    padding: 5px;
}
#dublin-forecast-data .forecast-icon {
    padding: 0;
}
.col-2.forecast-icon img {
    margin-top: -5px;
}
#weather-widget,
#see-less-weather {
    padding: 15px;
}

/* Navbar */
.navbar {
    padding: .5rem 0rem;
}
/* Logo */
.navbar-brand {
    font-family: 'Kalam', cursive;
    font-size: 2.4rem;
    margin-right: 0;
}
.navbar-light .navbar-brand {
    color: #000080;
}
.logo-part1,
.logo-part2 {
    display: inline-block;
}
.logo-part1 {
    transform: rotate(-15deg) translate(.2em, -.7em);
    font-size: 1.4rem;
    margin-right: 10px;
}
.logo-part2 {
    transform: rotate(-15deg) translate(-1em, -.1em);
}

/* Navbar toggle */
.navbar-toggler {
    padding: .4rem .8rem;
    font-size: 2rem;
}
/* Jumbotron */
.jumbotron {
    background-image: url(../images/ha-penny-bridge-in-dublin-ireland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 6rem 1rem;
    position: relative;
}
.jumbotron::before {
    content: "";
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.jumbotron > .container {
    position: relative;
    z-index: 2;
}
/* Text styles */
.display-4 {
    font-size: 2.5rem;
}
.lead {
    font-size: 1.6rem;
}
/* Form Elements */
.form-control {
    height: calc(2.5em + .75rem + 2px);
    padding: .4rem .8rem;
    font-size: 1.4rem;
}
/* Buttons */
.btn {
    padding: .6rem 1rem;
    font-size: 1.4rem;
    margin-top: 15px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
.btn-primary {
    color: #fff;
    background-color: #97476B;
    border-color: #75304D;
}
.btn-secondary {
    color: #000080;
    background-color: #2EC0F9;
    border-color: #2EC0F9;
}
.btn i {
    margin: 0 10px;
}
/* MAP */
#map {
    min-height: 600px;
    width: 100%;
}
/* ----------------------------------  NOTE TAKING ---------------*/
#take-notes,
.take-notes-wrapper {
    position: fixed;
    top: 10vh;
    right: -75%;
    z-index: 9999;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

/* Open the notes tab */
.open-notes {
    background: #fff;
    border: 1px solid #407dbf;
    border-radius: 4px 0 0 4px;
    box-shadow: -3px 0px 3px 1px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    width: 20%;
    padding: .5rem;
    text-align: center;
    top: 30vh;
    position: relative;
}
.open-notes::before {
    display: block;
    content: " ";
    background: white;
    box-shadow: -10px 0px 3px 0px rgba(0, 0, 0, 0.3);
    width: 20px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}
#take-notes p {
    font-size: 1.4rem;
}
.take-notes-wrapper {
    background: #E9FFFF;
    border: 1px solid #407dbf;
    border-radius: 4px 0 0 4px;
    box-shadow: -3px 0px 3px 1px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-height: 80vh;
    overflow: scroll;
}
/* When take notes section opened */
#take-notes.opened {
    right: 0;
}
#take-notes.opened .take-notes-wrapper {
    right: 0;
}
li.note-item {
    background: #88B8FD;
    color:#000080;
    border: 1px solid #000080;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
button.del-btn {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    float: right;
    color: #F92C2C;
    font-weight: 800;
    margin-left: 10px;
}
.divider-b {
    border-bottom: 5px solid;
    -o-border-image: -o-linear-gradient(left, transparent 0%, #000080 50%, transparent 100%);
    border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000080), to(transparent));
    border-image: linear-gradient(to right, transparent 0%, #000080 50%, transparent 100%);
    border-image-slice: 1;
    border-width: 1px;
}
/* Note required and response */
#note-item-required,
#response {
    border:1px solid;
    padding: .5rem;
    margin: 1rem 0;
}
#note-item-required {
    color: #F92C2C;
    border-color: #F92C2C;
}
#response {
    color: #007F0F;
    border: none;
}
/* ----- FOOTER ----- */
.footer {
    background-color: #192037;
    color:#fff;
}
.full-width-copyright {
    background: #00041B;
    color:#fff;
    padding: 10px;
    font-size: 1rem;
}
.social-icons-list {
    list-style: none;
    padding: 0;
}
.social-icons-list li {
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px 0 0;
}
.social-icons-list li a {
    color: #fff;
    background: #B95F89;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
/* ---------------------------------- MEDIA SIZES --------------------*/
@media screen and (min-width: 768px) {
    .navbar-brand {
        font-size: 3rem;
    }
    .display-4 {
        font-size: 3.5rem;
    }
}